---
layout: default
---
{% include header.html transparent_menu=true %}
<!-- Hero -->
<section class="tig-hero hero is-fullheight">
    <div class="tig-hero__hero-body hero-body">
        <div class="tig-hero__container container">
            <h1 class="title tig-hero__text">
                Lack of innovation and poor customer service are the top ranked business issues with freight providers, find out why TIG is different.
            </h1>
            <p class="is-size-7">Source: 2017 EFT Global Logistics Report</p>
            <p>&nbsp;</p>
            <a class="button is-dark" href="#why">
                Find Out Why
            </a>
        </div>
    </div>
</section>

<!-- Why TIG is different -->
<section class="section hero is-white is-medium" id="why">
    <div class="container has-text-centered">
        <p class="subtitle is-3 is-spaced">
            TIG is a full-service freight solutions provider.
        </p>
        <p class="subtitle is-5 is-spaced">
            We're not a startup, not an aggregator, a carrier, or a broker. We're a full-service freight solutions provider.
        </p>
        <p class="is-hidden-touch">&nbsp;</p>
    </div>
    <div class="container has-text-left">
        <div class="columns">
            <div class="column is-1">
            </div>
            <div class="column is-4">
                <p class="subtitle is-4 is-spaced has-text-info">
                    Why we're different
                </p>
                <p class="is-size-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac lorem libero. Vivamus a tincidunt eros, et eleifend nisl. Aenean a fermentum eros. Vivamus ac augue eget tortor ullamcorper accumsan sed eu erat. Ut at ante quis leo pulvinar accumsan vitae ut dolor. Quisque tincidunt orci quis tempor posuere. Duis ornare faucibus tortor vel laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ligula nulla, lacinia a euismod eget, pellentesque non sem. Proin vitae est facilisis felis ultrices elementum. Sed a nisl quis augue maximus ultricies. Vestibulum a nunc et mi dapibus hendrerit at et ligula. Donec sed dictum.
            </p>
            </div>
            <div class="column">
                <img src="{{ASSET_PATH}}/assets/images/tig_quadrant.png">
            </div>
        </div>
    </div>
</section>

<!-- More details on TIG -->
<section class="section hero is-light is-medium">
    <div class="container">
        <h1 class="title"></h1>
        <h1 class="title">
            More details on TIG
        </h1>
        <h2 class="subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac lorem libero. Vivamus a tincidunt eros, et eleifend nisl. Aenean a fermentum eros. Vivamus ac augue eget tortor ullamcorper accumsan sed eu erat. Ut at ante quis leo pulvinar accumsan vitae ut dolor. Quisque tincidunt orci quis tempor posuere. Duis ornare faucibus tortor vel laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ligula nulla, lacinia a euismod eget, pellentesque non sem. Proin vitae est facilisis felis ultrices elementum. Sed a nisl quis augue maximus ultricies. Vestibulum a nunc et mi dapibus hendrerit at et ligula. Donec sed dictum.
        </h2>
    </div>
</section>

<!-- Tech showcase -->
<section class="section hero is-white is-medium">
    <div class="container has-text-left">
        <div class="columns">
            <div class="column is-1">
            </div>
            <div class="column is-4">
                <p class="subtitle is-4 is-spaced has-text-info">
                    Technology driven solutions just for you
                </p>
                <p class="is-size-5">
                Whether you need a fully integrated or stand-alone solution, we've got you covered. From universal track &amp; trace, notications, consignment generation or controlled returns, our cutting edge cloud technologies cover the full delivery process. <a href="./technology">Find out more.</a>
            </p>
            </div>
            <div class="column is-1">
            </div>
            <div class="column">
                <img src="{{ASSET_PATH}}/assets/images/devices-4.png">
            </div>
        </div>
    </div>
</section>

<!-- Quote / tech info -->
<section class="section hero is-info is-medium">
    <div class="container">
        <h1 class="title"></h1>
        <h1 class="title">
            Quote / tech info
        </h1>
        <h2 class="subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac lorem libero. Vivamus a tincidunt eros, et eleifend nisl. Aenean a fermentum eros. Vivamus ac augue eget tortor ullamcorper accumsan sed eu erat. Ut at ante quis leo pulvinar accumsan vitae ut dolor. Quisque tincidunt orci quis tempor posuere. Duis ornare faucibus tortor vel laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ligula nulla, lacinia a euismod eget, pellentesque non sem. Proin vitae est facilisis felis ultrices elementum. Sed a nisl quis augue maximus ultricies. Vestibulum a nunc et mi dapibus hendrerit at et ligula. Donec sed dictum.
        </h2>
    </div>
</section>

<!-- Truested by -->
<section class="section hero is-white is-medium">
    <div class="container">
        <h1 class="title"></h1>
        <h1 class="title">
            Trusted by
        </h1>
        <h2 class="subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac lorem libero. Vivamus a tincidunt eros, et eleifend nisl. Aenean a fermentum eros. Vivamus ac augue eget tortor ullamcorper accumsan sed eu erat. Ut at ante quis leo pulvinar accumsan vitae ut dolor. Quisque tincidunt orci quis tempor posuere. Duis ornare faucibus tortor vel laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ligula nulla, lacinia a euismod eget, pellentesque non sem. Proin vitae est facilisis felis ultrices elementum. Sed a nisl quis augue maximus ultricies. Vestibulum a nunc et mi dapibus hendrerit at et ligula. Donec sed dictum.
        </h2>
    </div>
</section>

{% include footer.html %}