<!-- Truested by -->
<section class="section is-light is-bold has-boxed-columns">
    <div class="container ">
        <div class="">
            <div class="columns is-large is-boxed">

                <!-- Victoria -->
                <div class="column">
                    <div class="columns is-small is-multiline has-columns-at-end">
                        <div class="column is-12 is-6-fullhd">
                            <h2 class="heading">Find us</h2>
                            <h3 class="title has-text-info is-size-5 m-b-none">Victoria</h3>
                            <p class="is-size-7">Level 1, <br />32-36 Camberwell Rd, <br />Hawthorn East Victoria 3123</p>
                        </div>
                        <div class="column is-12 is-6-fullhd has-text-right-fullhd">
                            <a href="tel:0398097400" class="button is-outlined"><span class="icon"><i class="fa fa-phone"></i></span><span>(03) 9809 7400</span></a>
                        </div>
                    </div>
                    <div class="intrinsic-container intrinsic-container-16x9 m-b-md"><iframe width="640" height="380" frameborder="0" style="border:0" src="//www.google.com/maps/embed/v1/place?q=Level%201%2C%2032-36%20Camberwell%20Rd%2C%20Hawthorn%20East%20Victoria%203123
                        &zoom=17
                        &key=AIzaSyAnr2AaYGVblyJFTxiOsysFgIAWGW0aaGc">
                    </iframe></div>
                </div>

                <!-- New South Wales -->
                <div class="column">
                    <div class="columns is-small is-multiline has-columns-at-end">
                        <div class="column is-12 is-6-fullhd">
                            <h2 class="heading">Find us</h2>
                            <h3 class="title has-text-info is-size-5 m-b-none">New South Wales</h3>
                            <p class="is-size-7">Unit 34A, <br />8 Avenue Of The Americas, <br />Newington NSW 2127</p>
                        </div>
                        <div class="column is-12 is-6-fullhd has-text-right-fullhd">
                            <a href="tel:0297237877" class="button is-outlined"><span class="icon"><i class="fa fa-phone"></i></span><span>(02) 9723 7877</span></a>
                        </div>
                    </div>
                    <div class="intrinsic-container intrinsic-container-16x9 m-b-md"><iframe width="640" height="380" frameborder="0" style="border:0" src="//www.google.com/maps/embed/v1/place?q=Unit%2034%2F8%20Ave%20of%20the%20Americas%2C%20Newington%20NSW%202127
                        &zoom=17
                        &key=AIzaSyAnr2AaYGVblyJFTxiOsysFgIAWGW0aaGc">
                    </iframe></div>
                </div>

                <!-- Queensland -->
                <div class="column">
                    <div class="columns is-small is-multiline has-columns-at-end">
                        <div class="column is-12 is-6-fullhd">
                            <h2 class="heading">Find us</h2>
                            <h3 class="title has-text-info is-size-5 m-b-none">Queensland</h3>
                            <p class="is-size-7">&nbsp;<br />Unit 6A / 8 Navigator Place, <br />Hendra QLD 4011</p>
                        </div>
                        <div class="column is-12 is-6-fullhd has-text-right-fullhd">
                            <a href="tel:0737331044" class="button is-outlined"><span class="icon"><i class="fa fa-phone"></i></span><span>(07) 3733 1044</span></a>
                        </div>
                    </div>
                    <div class="intrinsic-container intrinsic-container-16x9 m-b-md"><iframe width="640" height="380" frameborder="0" style="border:0" src="//www.google.com/maps/embed/v1/place?q=6a%2F8%20Navigator%20Pl%20Hendra%20QLD%204011
                        &zoom=17
                        &key=AIzaSyAnr2AaYGVblyJFTxiOsysFgIAWGW0aaGc">
                    </iframe></div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- 2 Images -->
<section class="hero is-dark is-bold">
    <div class="hero-body">
        <div class="container is-thin">
            <div class="columns is-large">

                <div class="column is-6">
                    <p class="heading">Call us today</p>
                    <h2 class="subtitle">
                        Chat to us today on  <a href="tel:1300 TIG FRE" class=""><span class="icon"><i class="fa fa-phone"></i></span><span>1300 TIG FRE</span></a>
                    </h2>
                    <div class="content">
                        <p></p>
                        <p><img src="https://placeimg.com/424/264/tech"></p>
                    </div>
                </div>
                <div class="column is-6 has-text-left">
                    <p class="heading">Enquire Online</p>
                    <h2 class="subtitle">
                        Send us a message and we'll get back to you
                    </h2>
                    
                    <form action="thanks" method="POST">
                        <input type="hidden" name="message-type" value="enquiry">
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="email" placeholder="Name">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="email" placeholder="Email">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <textarea class="textarea" placeholder="Your Enquiry"></textarea>
                            </p>
                        </div>
                        <p class="invalid-text is-hidden">Please fill in all fields</p>
                        <div class="field is-grouped is-grouped-right">
                            <p class="control">
                                <button class="button" type="submit"><span>Send Message</span></button>
                            </p>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered is-size-7">
            <p>
                Copyright © 2017 TIG Freight Management. All Rights Reserved.<br />TIG Freight Management, Open360, OpenFreight and Track My Parcel are registered trademarks.
            </p>
        </div>
    </div>
</footer>


<script src="{{ "/assets/js/aos.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

<!--
<script src="{{ "/assets/js/prism.js" | prepend: site.baseurl }}"></script>
<script>
    This came with the jekyll-bulma thing. It adds comments I think.

    (function() {
    var d = document, s = d.createElement('script');
    s.src = '//aydineray.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
-->