<!-- Hero -->
<section class="tig-hero hero is-fullheight is-dark">
    <div class="hero-body">
        <div class="tig-fake-menu"></div>
        <div class="container is-thin">
            <h1 class="tig-hero__text title is-size-3 has-text-weight-light">
                Lack of innovation and poor customer service <br />
                are the top ranked business issues with freight providers, <br />
                find out why TIG is different.
            </h1>
            <p class="tig-hero__description is-size-7">Source: 2017 EFT Global Logistics Report</p>
            <p>&nbsp;</p>
            <a class="tig-hero__button button is-dark" href="#why">
                Find Out Why
            </a>
        </div>
    </div>
</section>