//
// Bulma - Colours
//

$primary:      #895597 !default;

// $orange:       hsl(14,  100%, 53%) !default;
// $yellow:       hsl(48,  100%, 67%) !default;
$green:        #1c4b9a !default;
// $turquoise:    hsl(171, 100%, 41%) !default;
$blue:         #1c4b9a !default;
$purple:       #895597 !default;
// $red:          hsl(348, 100%, 61%) !default;

//
// Bulma - Navbar
//
$navbar-background-color: transparent !default;
$navbar-height: 5rem !default;

//
// Bulma - Columns
//
$column-gap: 1.75rem !default;

//
// Aos
//
$aos-distance: 50px !default;

//
// TIG Variables
//
$body-bg: #000;