---
---

/*
* Application SCSS
* 
* This file is constructed with a combination of css naming conventions.
* As we're using Bulma when applying modifiers to Bulma classes like .containter
* I'd use something like is-modifier
*
* When building my own custom componenets I adhere to BEM naming convention
*
* Author: Gareth Somers
* Date: October 2017
* Company: TIG Freight
*/

//
// Imports (relative to /_sass/ for some reason)
//
@import 'bulma/utilities/initial-variables';
@import 'variables';
@import 'aos/aos';
@import 'bulma';
@import 'font-awesome/font-awesome';
@import 'spacing';
@import 'tig-columns';

// 
// Post Card
//
.post-card {
    .post-title {
        font-size: 1.6em;
    }
    .post-categories {
        margin-bottom: 5px;
    }
}


//
// Responsive Iframes
//
.intrinsic-container {
    position: relative;
    height: 0;
    overflow: hidden;
}
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
    padding-bottom: 56.25%;
}
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
    padding-bottom: 75%;
}
.intrinsic-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


//
// Bulma - Helpers
//

// Thin Containers
.container.is-thin
{
    max-width:960px;
}
// Vertically Centered Columns
.columns.has-columns-at-end
{
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}
// Vertically Centered Columns
.columns.has-columns-at-center
{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

//
// Overhanging - Left and Right
//
@include tablet
{
    .is-overhanging-left
    {
        margin-left: -65%;
        max-width:165%;
    }
    .is-overhanging-right
    {
        margin-right: -65%;
        max-width:165%;
    }
}


//
// Overhanging - Bottom
//
@include tablet
{
      // Hero - Is Small - 1.5rem
    .hero.is-small.has-overhanging-bottom {
        margin-bottom: 0.75rem;
        .hero-body .is-overhanging-bottom {
            margin-bottom: -2.25rem;
        }
    }
      // Hero - Is Medium - 9rem
    .hero.is-medium.has-overhanging-bottom {
        margin-bottom: 4.5rem;
        .hero-body .is-overhanging-bottom {
             margin-bottom: -13.5rem;
        }
    }
      // Hero - Is Large - 18rem
    .hero.is-large.has-overhanging-bottom {
        margin-bottom: 9rem;
        .hero-body .is-overhanging-bottom {
            margin-bottom: -27rem;
        }
    }
      // Hero - Is Small - 3rem
    .hero.has-overhanging-bottom {
        margin-bottom: 1.5rem;
        .hero-body .is-overhanging-bottom {
            margin-bottom: -4.5rem;
        }
    }
}

//
// Bulma - is Boxed
//
@include tablet
{
    .section.has-boxed-columns
    {
        padding: $large-column-gap $large-column-gap;
        border-top:1px solid $grey-lighter;
        border-bottom:1px solid $grey-lighter;
    }
    .columns.is-boxed > .column:not(:last-child)
    {
        border-right: 1px solid $grey-lighter;
    }
}

//
// Bulma - Is Bordered
//
.is-bordered-top,
.is-bordered
{
    border-top:1px solid $grey-lighter;
}
.is-bordered-bottom,
.is-bordered
{
    border-bottom:1px solid $grey-lighter;
}

//
// Bulma - Has Text Shadow
//
.hero.has-text-shadow
{
    text-shadow: 2px 2px #ff0000;
    // Colors
    @each $name, $pair in $colors
    {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);
        &.is-#{$name}
        {
            text-shadow: 1px 1px rgba($color, 0.3);
            .button
            {
                text-shadow: none;
            }
        }
    }
}

//
// Header - Tig Menu
//
.tig-menu
{
    position:fixed;
    top:0px;
    left:0px;
    z-index:100;
    width:100%;
    transition: background-color $speed $easing;
    .navbar-brand .navbar-item img
    {
        width:auto;
        height:auto;
        max-height:2.5rem;
    }
}
body.is-not-scrolled
{
    .tig-menu
    {
        background-color:rgba(0,0,0,0);
    }
}

//
// Header - Fake Menu 
// This appears underneath the main menu to push it down (as it's position is static)
//
.tig-fake-menu
{
    position:relative;
    z-index:5;
    height:80px;
}

//
// Heros - Tig Hero
//
.tig-hero
{
    background-image:url("/assets/images/hero.jpg");
    background-size:cover;
    background-position:center bottom;
    background-attachment: fixed;
    color:white;
    position: relative;
    &:before
    {
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,0.5);
        display:block;
        content:"";
        position: absolute;
        top: 0px;
        left: 0px;
    }
}



//
// Content
//
.content .heading:first-child + h2:not(:first-child)
{
    margin-top:5px;
}